body {
  background: #181a1b;
  color: #eee;
}

.movie {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 1.5vmin;
  width: max-content;
  text-align: center;
}

.movie * {
  margin: 0;
}

.year {
  grid-column: 2 / span 3;
  grid-row: 1;
}

.poster {
  grid-column: 1 / span 5;
  grid-row: 2 / span 7;
  width: 100%;
}

.title {
  grid-column: 2 / span 3;
  grid-row: 9;
}

.genre {
  grid-column: 2 / span 3;
  grid-row: 10;
}

.rating {
  grid-column: 6;
  text-align: left;
}

.rating:nth-of-type(1) {
  grid-row: 4;
}

.rating:nth-of-type(2) {
  grid-row: 5;
}

.rating:nth-of-type(3) {
  grid-row: 6;
}

.imdb-rating {
  color: #f6ca2c;
}

.metacritic-rating {
  color: #66a329;
}

.rottentomatoes-rating {
  color: #c52404;
}
